body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 600;
}

h2 {
    font-size: 3em;
    font-weight: 500;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-size: 1em;
    font-weight: 400;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}


/* header styles */
.header {
    background-color: #000000;
    padding: 35px 53px;
    display: flex;
}

.header-svg {
    height: 146px;
    width: 146px;
    background-color: #FFEA94;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 44px;
}

.header-navigation {
    align-self: flex-end;
}

.header-navigation ul {
    display: flex; 
    align-items: center;
}

.header-navigation-item {
    border-left: 1px solid #FFF;
    padding-left: 11px;
    list-style: none;
    width: 120px;
}

.header-navigation-item a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.header-search {
    margin-left: auto;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 12px;
}

.header-search input[type='search'] {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #FFF;
    padding: 14px 16px 14px 54px;
    width: 220px;
    margin-right: 63px;
    background-color: transparent;
    color: #FFF;
}

.header-dropdown {
    color: #FFF;
    display: flex;
}

.header-dropdown-batman-icon-wrapper {
    background-color: #313131;
    height: 57px;
    width: 57px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    margin-right: 13px;
}

.header-dropdown-batman-icon {
    position: absolute;
    top: 10px;
}

.header-dropdown-link {
    color: #FFF;
    text-decoration: none;
}

.header-dropdown-link-content {
    margin-right: 10px;
}

.dropdown {
    padding-left: 0;
    position: absolute;
    right: 40px;
    top: 90px;
    background-color: #313131;
    border: 1px solid white;
    border-radius: 4px;
    z-index: 10;
    display: none;
}

.dropdown li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown li:hover {
    background-color: tomato;
    cursor: pointer;
}

.dropdown a {
    text-decoration: none;
    color: #FFF;
    display: block;
    padding: 10px 15px;
}


/* main styles */
.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content section {
    background-color: #FFF;
    padding-top: 78px;
    padding-bottom: 50px;
    width: 764px;
    margin-left: auto;
    margin-right: auto;
    line-height: 22px;
}

.content .decorative-aside {
    background-color: #FCD530;
    height: 100%;
    width: 100%;
}

.content-link {
    background-color: #FCD530;
    color: #000;
}

/* aside styles */
.decorative-aside {
    position: relative;
}

.decorative-aside-image {
    position: absolute;
    left: -100px;
    top: 240px;
}


/* footer styles */
.footer {
    padding-top: 78px;
    padding-bottom: 50px;
    background-color: #000;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.footer-navigation {
    display: flex;
    width: 764px;
    margin-left: auto;
    margin-right: auto;
}

.footer-navigation ul {
    padding-left: 0;
    margin-right: 80px;
    line-height: 25px;
}

.footer-title {
    margin-bottom: 30px;
    color: #FFF;
}

.footer-navigation-link {
    text-decoration: none;
    color: #FFF;
}

.footer-social-icon {
    margin-right: 10px;
}

.footer-social-icon:last-child {
    margin-right: unset;
}

.footer-patterns {
    padding-left: 40px;
}
